# Quinzical
/data

# Java
.mtj.tmp/
*.class
*.war
*.ear
*.nar
hs_err_pid*

# Eclipse
.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath

# Visual Studio Code
.vscode/
.code-workspace

## IntelliJ
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

# OS X
.DS_Store
