/****************** root & backgrounds ******************/
.root {
  -fx-background-color: rgba(255, 255, 255, 0);
  -fx-font-family: "Joffrey";
}
.background-nz {
  -fx-background-repeat: no-repeat;
  -fx-background-image: url("images/Background.png");
  -fx-background-color: #000000;
  -fx-background-size: auto 100%;
  -fx-background-position: right;
  -fx-font-family: "Joffrey";
}

.background {
  -fx-background: #000000;
}

.transparent {
  -fx-background-color: transparent;
}

.lobby-background {
  -fx-background-image: url("images/lobby.png");
  -fx-background-repeat: no-repeat;
  -fx-background-size: cover;
}

/****************** Fonts ******************/

@font-face {
  font-family: "Joffrey";
  src: url("Joffrey.ttf");
}

.text {
  -fx-font-family: "Joffrey";
}

/****************** Text Fields ******************/

.question-field {
  -fx-prompt-text-fill: white;
  -fx-text-fill: white;
  -fx-prompt-font-size: 30px;
  -fx-background-color: transparent;
}

.question-field .text-area .scroll-pane {
  -fx-background-color: transparent;
}

.question-field .text-area .scroll-pane .viewport {
  -fx-background-color: transparent;
}

.question-field .text-area .scroll-pane .content {
  -fx-background-color: transparent;
}

/****************** Labels ******************/
.header {
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}
.header.label {
  -fx-text-fill: white;
  -fx-font-weight: bold;
  -fx-font-size: 9em;
}

.game-field {
    -fx-prompt-text-fill: white;
    -fx-font-size: 32px;
    -fx-text-fill: white;
}

.game-field .text {
    -fx-prompt-text-fill: white;
    -fx-fill: white;
}

.menu.label .text {
  -fx-font-size: 40px;
  -fx-fill: white;
  -fx-font-weight: bold;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 3, 0, 0, 0);
}

.question.label .text {
  -fx-fill: white;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 3, 0, 0, 0);
}

.qrcode {
  -fx-fill: black;
  -fx-font-size: 22px;
}

.count-down {
  -fx-font-size: 90px;
  -fx-fill: #ff0000;
  -fx-font-weight: bold;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 3, 0, 0, 0);
}

.login.label .text {
  -fx-font-size: 30px;
  -fx-fill: white;
  -fx-font-weight: bold;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 3, 0, 0, 0);
}

.logingreen.label .text {
  -fx-font-size: 30px;
  -fx-fill: #01ff00;
}

.time.label .text {
  -fx-font-size: 40px;
  -fx-font-weight: bold;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 3, 0, 0, 0);
}

.shadow {
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

/****************** Buttons ******************/

.button {
  -fx-background-color: transparent;
  -fx-font-weight: bold;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 20, 0, 0, 0);
  -fx-background-radius: 10;
}

.button:hover {
  -fx-border-color: #07ed00;
}

.category {
  -fx-text-fill: white;
  -fx-border-width: 2 2 2 2;
  -fx-border-color: white;
  -fx-border-radius: 10;
}

.category:hover {
  -fx-border-color: #07ed00;
}

.round-button {
  -fx-background-radius: 80px;
  -fx-background-color: #919191;
}
.round-button:hover {
  -fx-border-radius: 80px;
  -fx-border-color: #07ed00;
}

.macron-button {
  -fx-font-size: 25px;
  -fx-background-radius: 30px;
  -fx-background-color: #919191;
}
.macron-button:hover {
  -fx-border-radius: 30px;
  -fx-border-color: #07ed00;
}

.exit-button {
  -fx-border-color: white;
  -fx-font-weight: bold;
  -fx-border-width: 2 2 2 2;
  -fx-font-size: 30px;
  -fx-text-fill: white;
  -fx-background-radius: 10;
  -fx-border-radius: 10;
}

.game-button {
  -fx-border-color: white;
  -fx-font-weight: bold;
  -fx-border-width: 2 2 2 2;
  -fx-font-size: 40px;
  -fx-text-fill: white;
  -fx-background-radius: 10;
  -fx-border-radius: 10;
}

/****************** Text area ******************/

.text-area {
  text-area-background: black;
  -fx-text-fill: white;
}

.text-area .content {
  -fx-background-color: text-area-background;
}

/****************** Alert *******************/
.dialog-pane {
  -fx-background-color: black;
  -fx-border-color: black;
  -fx-border-width: 2px;
}

/**Costumization of The Bar where the buttons are located**/
.dialog-pane > .button-bar > .container {
  -fx-background-color: black;
}

.dialog-pane > .content.label {
  -fx-padding: 0.5em 0.5em 0.5em 0.5em;
  -fx-background-color: black;
  -fx-text-fill: white;
  -fx-font-size: 32px;
}

/**Costumization of DialogPane Header**/
.dialog-pane:header .header-panel {
  -fx-background-color: black;
}

.dialog-pane:header .header-panel .label {
  -fx-text-fill: white;
  -fx-padding: 0.5em 0.5em 0.5em 0.5em;
  -fx-font-size: 50px;
}

/**Costumization of Buttons**/
.dialog-pane .button {
  -fx-text-fill: white;
  -fx-wrap-text: true;
  -fx-cursor: hand;
  -fx-border-color: white;
  -fx-border-radius: 10;
  -fx-font-size: 26px;
  -fx-font-weight: bold;
  -fx-border-width: 2 2 2 2;
}

.dialog-pane .button:hover {
  -fx-border-radius: 10;
  -fx-border-color: #07ed00;
}
